@charset "UTF-8";
/* line 5, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'elektra_text_pro';
  src: url("../fonts/fehl465v-webfont.eot");
  src: url("../fonts/fehl465v-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fehl465v-webfont.woff2") format("woff2"), url("../fonts/fehl465v-webfont.woff") format("woff"), url("../fonts/fehl465v-webfont.ttf") format("truetype"), url("../fonts/fehl465v-webfont.svg#elektra_text_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elektra_text_pro_bold';
  src: url("../fonts/kskguonu-webfont.eot");
  src: url("../fonts/kskguonu-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kskguonu-webfont.woff2") format("woff2"), url("../fonts/kskguonu-webfont.woff") format("woff"), url("../fonts/kskguonu-webfont.ttf") format("truetype"), url("../fonts/kskguonu-webfont.svg#elektra_text_probold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* line 1, ../sass/_allinfa.scss */
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
}

/* line 7, ../sass/_allinfa.scss */
.wrapper:after {
  content: "";
  display: block;
  height: 80px;
}

/* line 12, ../sass/_allinfa.scss */
.footer {
  height: 80px;
  margin-top: -80px;
}

/*clearfix*/
/* line 19, ../sass/_allinfa.scss */
.clearfix:before, .es-form__form-group:before, .es-content__body:before, .es-conteiner__footer:before, .clearfix:after, .es-form__form-group:after, .es-content__body:after, .es-conteiner__footer:after {
  content: "";
  display: table;
}

/* line 23, ../sass/_allinfa.scss */
.clearfix:after, .es-form__form-group:after, .es-content__body:after, .es-conteiner__footer:after {
  clear: both;
}

/*я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜я┐╜*/
/* line 10, ../sass/_main.scss */
body {
  color: #5c7b98;
  font-family: elektra_text_pro, Helvetica, Arial, sans-serif;
  padding-top: 38px;
}

/* line 16, ../sass/_main.scss */
.es-content-left {
  float: left;
  width: 230px;
}

/* line 21, ../sass/_main.scss */
#scroll {
  position: fixed;
  background-color: #00b9fe;
  color: #ffffff;
  bottom: 5%;
  z-index: 100;
  right: 5%;
  padding: 10px;
}

/*left block*/
/* line 32, ../sass/_main.scss */
.es-content-left__header--logo {
  background: url("../img/es-logo--header.png");
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  width: 199px;
  height: 57px;
}

/*form*/
/* line 41, ../sass/_main.scss */
.es-form--all {
  background: #f4f6f9;
  padding: 14px;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* line 47, ../sass/_main.scss */
.es-form--header {
  font-size: 24px;
  font-family: elektra_text_pro_bold, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}

/* line 53, ../sass/_main.scss */
.es-form__select {
  scrollbar-face-color: #000000;
  scrollbar-shadow-color: #2D2C4D;
  scrollbar-highlight-color: #7D7E94;
  scrollbar-3dlight-color: #7D7E94;
  scrollbar-darkshadow-color: #2D2C4D;
  scrollbar-track-color: #7D7E94;
  scrollbar-arrow-color: #C1C1D1;
}

/*/form*/
/*Gallary*/
/* line 66, ../sass/_main.scss */
.es-gallary {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 230px;
  list-style: none;
  display: block;
}

/* line 74, ../sass/_main.scss */
.es-gallary--img {
  padding: 0;
  display: -moz-inline-stack;
  display: inline-table;
  zoom: 1;
  *display: inline;
  width: 70px;
  margin-right: 0;
  margin-bottom: 10px;
}
/* line 83, ../sass/_main.scss */
.es-gallary--img:nth-child(3n+1) {
  clear: left;
  margin-right: 7px;
}

/* line 88, ../sass/_main.scss */
.es-form__form-group {
  margin-bottom: 15px;
  text-align: right;
  line-height: 35px;
}

/* line 94, ../sass/_main.scss */
.es-form--body {
  font-size: 14px;
}

/* line 97, ../sass/_main.scss */
.es-form__lable {
  float: left;
}

/* line 101, ../sass/_main.scss */
.es-form__form-group--input {
  width: 110px;
  padding: 9px;
  border: 1px solid #5c7b98;
}

/* line 106, ../sass/_main.scss */
.es-form__select {
  padding: 9px;
  border: 1px solid #5c7b98;
}

/* line 110, ../sass/_main.scss */
.es-form__textarea {
  max-width: 100%;
  min-width: 100%;
}

/* line 114, ../sass/_main.scss */
.es-form__form--buttom {
  height: 35px;
  width: 90px;
  color: #ffffff;
  font-family: elektra_text_pro_bold, Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: none;
}

/* line 122, ../sass/_main.scss */
.es-form__form--buttom-blue {
  background: #00b9fe;
}

/* line 125, ../sass/_main.scss */
.es-form__form--buttom-gray {
  background: #5c7b98;
  float: right;
}

/*/Gallary*/
/*contact*/
/* line 132, ../sass/_main.scss */
.es-contact-block {
  background: #f4f6f9;
  padding: 14px;
  margin: 25px 0;
  font-size: 14px;
}

/* line 138, ../sass/_main.scss */
.es-contact-block__li {
  padding-left: 24px;
  padding-top: 10px;
  margin-bottom: 16px;
  min-height: 24px;
  text-align: -webkit-match-parent;
  display: list-item;
}

/* line 146, ../sass/_main.scss */
.es-contact-block--adress {
  background: url("../img/icon-map.png") no-repeat left center;
}

/* line 149, ../sass/_main.scss */
.es-contact-block--phone {
  background: url("../img/icon-phone.png") no-repeat left center;
}

/*/contact*/
/* line 155, ../sass/_main.scss */
.es-content__body {
  width: 1000px;
  margin: 0 auto;
}

/* line 161, ../sass/_main.scss */
.es-footer {
  background: #613993 url("../img/es-bg.png") repeat;
  padding: 60px 0;
}

/* line 166, ../sass/_main.scss */
.es-content-left__header--logo {
  background: url("../img/es-logo--header.png");
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  width: 199px;
  height: 57px;
}

/*right block*/
/* line 176, ../sass/_main.scss */
.es-block--all {
  margin-bottom: 40px;
}

/* line 179, ../sass/_main.scss */
.es-content-right {
  float: right;
  width: 750px;
  display: block;
  position: relative;
}

/* line 186, ../sass/_main.scss */
.es-block--header {
  text-align: center;
  overflow: hidden;
  width: 750px;
}

/* line 191, ../sass/_main.scss */
.es-block--header span {
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
/* line 196, ../sass/_main.scss */
.es-block--header span:before, .es-block--header span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 1px solid #5c7b98;
  top: 0;
  width: 750px;
}
/* line 204, ../sass/_main.scss */
.es-block--header span:before {
  right: 100%;
  margin-right: 15px;
}
/* line 208, ../sass/_main.scss */
.es-block--header span:after {
  left: 100%;
  margin-left: 15px;
}

/* line 214, ../sass/_main.scss */
.es-block__card {
  list-style: none;
  padding: 0;
  position: relative;
  display: block;
  margin: 6px auto 6px -25px;
}

/* line 221, ../sass/_main.scss */
.es-block__card__item {
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  box-sizing: border-box;
  width: 230px;
  margin: 0 auto;
  margin-left: 25px;
  margin-bottom: 25px;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
/* line 233, ../sass/_main.scss */
.es-block__card__item:nth-child(2n+1) {
  clear: left;
}

/* line 237, ../sass/_main.scss */
.es-block__card--header {
  position: relative;
  height: 75px;
  display: block;
  text-align: left;
  color: #00b9fe;
  font-size: 14px;
  vertical-align: middle;
  margin-bottom: 25px;
}

/* line 247, ../sass/_main.scss */
.es-block__card--img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
}

/* line 255, ../sass/_main.scss */
.es-block__card__item__a {
  display: block;
  background: #fff;
  border: 1px solid #f4f6f9;
  padding: 10px;
}
/* line 260, ../sass/_main.scss */
.es-block__card__item__a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 264, ../sass/_main.scss */
.es-block__card--text {
  margin: 25px auto auto 87px;
  display: block;
  position: absolute;
  text-decoration: underline;
}
/* line 269, ../sass/_main.scss */
.es-block__card--text:hover {
  color: #613993;
}

/* line 273, ../sass/_main.scss */
.es-block__card--infa-product {
  font-size: 14px;
  width: 100%;
}

/* line 277, ../sass/_main.scss */
.es-block__card--lable-tover {
  width: 95px;
}

/* line 280, ../sass/_main.scss */
.es-block__card--string-tover {
  padding: 5px 0;
}

/*slider*/
/* line 285, ../sass/_main.scss */
.slider {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
  height: 300px !important;
  overflow: hidden;
}

/* line 294, ../sass/_main.scss */
.slide__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 299, ../sass/_main.scss */
.slide__list .slider__item {
  position: absolute;
  left: -1000px;
}
/* line 303, ../sass/_main.scss */
.slide__list .slider__item.slider--activ {
  left: 0;
  z-index: 1;
}
/* line 307, ../sass/_main.scss */
.slide__list .slider__item.inslide {
  z-index: 2;
}
/* line 311, ../sass/_main.scss */
.slide__list .slider__item .slider__item--block {
  height: 100%;
}
/* line 315, ../sass/_main.scss */
.slide__list .slider__item .slider__infa {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px 25px;
  background: rgba(1, 1, 1, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000');
}
/* line 324, ../sass/_main.scss */
.slide__list .slider__item .slider-list__item_info_link {
  color: #00b9fe;
  line-height: 23px;
  font-size: 18px;
}
/* line 329, ../sass/_main.scss */
.slide__list .slider__item .slider-list__item_info-content {
  color: #fff;
  font-size: 14px;
}

/* line 338, ../sass/_main.scss */
.slider__controls {
  position: absolute;
  height: auto;
  width: 100%;
  top: 132px;
  z-index: 2;
}
/* line 345, ../sass/_main.scss */
.slider__controls .slider__controls--button {
  position: absolute;
  text-decoration: none;
  background: #fff;
  color: #5c7b98;
  height: 20px;
  padding: 8px;
  transition: .3s;
}
/* line 354, ../sass/_main.scss */
.slider__controls .slider__controls--button:after {
  position: absolute;
  content: "";
  width: 0;
  top: 0;
  color: #fff;
  height: 0;
  transition: .3s;
}
/* line 364, ../sass/_main.scss */
.slider__controls .slider__controls--button.slider__controls--button_last {
  left: 18px;
}
/* line 366, ../sass/_main.scss */
.slider__controls .slider__controls--button.slider__controls--button_last:after {
  right: 100%;
  border-right: 8px solid;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
/* line 373, ../sass/_main.scss */
.slider__controls .slider__controls--button.slider__controls--button_next {
  right: 18px;
}
/* line 375, ../sass/_main.scss */
.slider__controls .slider__controls--button.slider__controls--button_next:after {
  left: 100%;
  border-left: 8px solid;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
/* line 383, ../sass/_main.scss */
.slider__controls .slider__controls--button:hover {
  background: #00b9fe;
  color: #fff;
}
/* line 386, ../sass/_main.scss */
.slider__controls .slider__controls--button:hover:after {
  color: #00b9fe;
}

/*footer*/
/* line 395, ../sass/_main.scss */
.es-conteiner__footer {
  width: 1000px;
  margin: 0 auto;
}

/* line 401, ../sass/_main.scss */
.es-footer__block {
  float: left;
  text-align: -webkit-match-parent;
  display: inline-block;
}

/* line 407, ../sass/_main.scss */
.es-footer__logo {
  background: url("../img/es-logo--footer.png");
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  width: 139px;
  height: 39px;
  margin-top: 30px;
  margin-right: 110px;
}

/* line 418, ../sass/_main.scss */
.es-footer__nav {
  color: #fff;
}
/* line 420, ../sass/_main.scss */
.es-footer__nav a {
  color: #fff;
}

/* line 424, ../sass/_main.scss */
.es-meny__footer--item {
  padding: 5px 0;
}

/* line 428, ../sass/_main.scss */
.es-footer__nav {
  width: 150px;
}

/* line 432, ../sass/_main.scss */
.es-footer__icon {
  margin-left: 110px;
  width: 190px;
}

/* line 437, ../sass/_main.scss */
.es-footer__icon--el {
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  margin: 5px 0;
  opacity: 0.8;
}
/* line 443, ../sass/_main.scss */
.es-footer__icon--el:hover {
  opacity: 1;
}

/* line 447, ../sass/_main.scss */
.soc-icon--appStore {
  background: url("../img/icon-appStore.png");
  width: 90px;
  height: 32px;
  float: left;
}

/* line 453, ../sass/_main.scss */
.soc-icon--GooglePlay {
  background: url("../img/icon-GooglePlay.png");
  width: 90px;
  height: 32px;
  float: right;
}

/* line 459, ../sass/_main.scss */
.soc-icon--vk {
  background: url("../img/icon-sprite-ss.png");
  height: 44px;
  width: 44px;
  background-position: -2 0;
  margin-right: 29px;
}

/* line 467, ../sass/_main.scss */
.soc-icon--fb {
  background: url("../img/icon-sprite-ss.png");
  height: 44px;
  width: 44px;
  background-position: 100px 0;
  margin-right: 29px;
}

/* line 475, ../sass/_main.scss */
.soc-icon--tv {
  background: url("../img/icon-sprite-ss.png");
  height: 44px;
  width: 44px;
  background-position: 48px 0;
}
