extends ../layouts/layout.jade

block title
    | Интернет-магазин Эппл-Shop

block content
    #scroll Наверх

    .es-content__body
        include ../common/conentLeft
        include ../common/contentRight
