.es-content-right
    .slider
        .slider__list--wrap
            ul.slider__list
                li.slider__item.slider--activ
                    .slider__item--block
                        img(src="../../img/slider/sl-phone.jpg", alt="").slider__pic
                        .slider__infa  ывмыамав
                li.slider__item
                    .slider__item--block
                    img(src="../../img/slider/sl-3d_phone.jpg", alt="").slider__pic
                    .slider__infa
                li.slider__item
                    .slider__item--block
                        img(src="../../img/slider/sl-monitor.jpg", alt="").slider__pic
                    .slider__infa
        .slider__controls
            .slider__controls--button.slider__controls--button_next След.
            .slider__controls--button.slider__controls--button_last Пред.


    .es-block--all
        .es-block--header
            span
                | Популярные товары

        .es-block--body
            ul.es-block__card
                li.es-block__card__item
                    a(href='', title='').es-block__card__item__a
                        .es-block__card--header
                            img(src='../../img/tovar/popular_display.jpg', alt='').es-block__card--img
                            span.es-block__card--text
                                | Apple Thunderb
                                | Display 27"
                        table.es-block__card--infa-product
                            tr.es-block__card--string-tover
                                td.es-block__card--lable-tover.es-block__card--string-tover Артикул
                                td 42787895
                            tr
                                td.es-block__card--string-tover Опция
                                td включена
                            tr
                                td.es-block__card--string-tover Цвет
                                td серебрянный
                            tr
                                td.es-block__card--string-tover Размер
                                td 1280х1245х90
                            tr
                                td.es-block__card--string-tover Вес
                                td 9 кг

                li.es-block__card__item
                    a(href='', title='').es-block__card__item__a
                        .es-block__card--header
                            img(src='../../img/tovar/popular_display2.jpg', alt='').es-block__card--img
                            span.es-block__card--text
                                | iMac27"
                        table.es-block__card--infa-product
                            tr.es-block__card--string-tover
                                td.es-block__card--lable-tover.es-block__card--string-tover Артикул
                                td 42787895
                            tr
                                td.es-block__card--string-tover Опция
                                td включена
                            tr
                                td.es-block__card--string-tover Цвет
                                td серебрянный
                            tr
                                td.es-block__card--string-tover Размер
                                td 1280х1245х90
                            tr
                                td.es-block__card--string-tover Вес
                                td 9 кг

                li.es-block__card__item
                    a(href='', title='').es-block__card__item__a
                        .es-block__card--header
                            img(src='../../img/tovar/popular_phone.jpg', alt='').es-block__card--img
                            span.es-block__card--text
                                | iPhone 5s Gold
                        table.es-block__card--infa-product
                            tr.es-block__card--string-tover
                                td.es-block__card--lable-tover.es-block__card--string-tover Артикул
                                td 42787895
                            tr
                                td.es-block__card--string-tover Опция
                                td включена
                            tr
                                td.es-block__card--string-tover Цвет
                                td серебрянный
                            tr
                                td.es-block__card--string-tover Размер
                                td 1280х1245х90
                            tr
                                td.es-block__card--string-tover Вес
                                td 9 кг


    .es-block--all
        .es-block--header
            span
                | Товары со скидкой

        .es-block--body
            ul.es-block__card
                li.es-block__card__item
                    a(href='', title='').es-block__card__item__a
                        .es-block__card--header
                            img(src='../../img/tovar/sale_ipоd.jpg', alt='').es-block__card--img
                            span.es-block__card--text
                                | iPad Air Wi-Fi 128GB - Silver
                        table.es-block__card--infa-product
                            tr.es-block__card--string-tover
                                td.es-block__card--lable-tover.es-block__card--string-tover Артикул
                                td 42787895
                            tr
                                td.es-block__card--string-tover Опция
                                td включена
                            tr
                                td.es-block__card--string-tover Цвет
                                td серебрянный
                            tr
                                td.es-block__card--string-tover Размер
                                td 1280х1245х90
                            tr
                                td.es-block__card--string-tover Вес
                                td 9 кг

                li.es-block__card__item
                    a(href='', title='').es-block__card__item__a
                        .es-block__card--header
                            img(src='../../img/tovar/sale_ipad.jpg', alt='').es-block__card--img
                            span.es-block__card--text
                                | Apple iPod nano 7G 16 ГБ Blue
                        table.es-block__card--infa-product
                            tr.es-block__card--string-tover
                                td.es-block__card--lable-tover.es-block__card--string-tover Артикул
                                td 42787895
                            tr
                                td.es-block__card--string-tover Опция
                                td включена
                            tr
                                td.es-block__card--string-tover Цвет
                                td серебрянный
                            tr
                                td.es-block__card--string-tover Размер
                                td 1280х1245х90
                            tr
                                td.es-block__card--string-tover Вес
                                td 9 кг

                li.es-block__card__item
                    a(href='', title='').es-block__card__item__a
                        .es-block__card--header
                            img(src='../../img/tovar/sale_air.jpg', alt='').es-block__card--img
                            span.es-block__card--text
                                | Роутер Wi-Fi Apple AirPort

                        table.es-block__card--infa-product
                            tr.es-block__card--string-tover
                                td.es-block__card--lable-tover.es-block__card--string-tover Артикул
                                td 42787895
                            tr
                                td.es-block__card--string-tover Опция
                                td включена
                            tr
                                td.es-block__card--string-tover Цвет
                                td серебрянный
                            tr
                                td.es-block__card--string-tover Размер
                                td 1280х1245х90
                            tr
                                td.es-block__card--string-tover Вес
                                td 9 кг