
<div class="es-content-right">
  <!--slider-->
  <!--Block-->
  <div class="es-block--all">
    <div class="es-block--header">Популярные товары</div>
    <div class="es-block--body">
      <ul>
        <li class="es-block__card"><a href="" title="">
            <div class="es-block__card--header"><img src="" alt=""/><a href="" title="title"></a></div>
            <table class="es-block__card--infa-product">
              <tr>
                <td>Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td>Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td>Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td>Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td>Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
      </ul>
    </div>
  </div>
</div>