
<div class="es-content-right">
  <div class="slider">
    <div class="slider__list--wrap">
      <ul class="slider__list">
        <li class="slider__item slider--activ">
          <div class="slider__item--block"><img src="../../img/slider/sl-phone.jpg" alt="" class="slider__pic"/>
            <div class="slider__infa"> ывмыамав</div>
          </div>
          <li class="slider__item"></li>
          <div class="slider__item--block"><img src="../../img/slider/sl-3d_phone.jpg" alt="" class="slider__pic"/>
            <div class="slider__infa"></div>
          </div>
          <li class="slider__item"></li>
          <div class="slider__item--block"><img src="../../img/slider/sl-monitor.jpg" alt="" class="slider__pic"/></div>
          <div class="slider__infa"></div>
        </li>
      </ul>
    </div>
    <div class="slider__controls">
      <div class="slider__controls--button slider__controls--button_next">След.</div>
      <div class="slider__controls--button slider__controls--button_last">Пред.</div>
    </div>
  </div>
  <div class="es-block--all">
    <div class="es-block--header"><span>Популярные товары</span></div>
    <div class="es-block--body">
      <ul class="es-block__card">
        <li class="es-block__card__item"><a href="" title="" class="es-block__card__item__a">
            <div class="es-block__card--header"><img src="../../img/tovar/popular_display.jpg" alt="" class="es-block__card--img"/><span class="es-block__card--text">
                Apple Thunderb
                Display 27"</span></div>
            <table class="es-block__card--infa-product">
              <tr class="es-block__card--string-tover">
                <td class="es-block__card--lable-tover es-block__card--string-tover">Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
        <li class="es-block__card__item"><a href="" title="" class="es-block__card__item__a">
            <div class="es-block__card--header"><img src="../../img/tovar/popular_display2.jpg" alt="" class="es-block__card--img"/><span class="es-block__card--text">iMac27"</span></div>
            <table class="es-block__card--infa-product">
              <tr class="es-block__card--string-tover">
                <td class="es-block__card--lable-tover es-block__card--string-tover">Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
        <li class="es-block__card__item"><a href="" title="" class="es-block__card__item__a">
            <div class="es-block__card--header"><img src="../../img/tovar/popular_phone.jpg" alt="" class="es-block__card--img"/><span class="es-block__card--text">iPhone 5s Gold</span></div>
            <table class="es-block__card--infa-product">
              <tr class="es-block__card--string-tover">
                <td class="es-block__card--lable-tover es-block__card--string-tover">Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
      </ul>
    </div>
  </div>
  <div class="es-block--all">
    <div class="es-block--header"><span>Товары со скидкой</span></div>
    <div class="es-block--body">
      <ul class="es-block__card">
        <li class="es-block__card__item"><a href="" title="" class="es-block__card__item__a">
            <div class="es-block__card--header"><img src="../../img/tovar/sale_ipоd.jpg" alt="" class="es-block__card--img"/><span class="es-block__card--text">iPad Air Wi-Fi 128GB - Silver</span></div>
            <table class="es-block__card--infa-product">
              <tr class="es-block__card--string-tover">
                <td class="es-block__card--lable-tover es-block__card--string-tover">Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
        <li class="es-block__card__item"><a href="" title="" class="es-block__card__item__a">
            <div class="es-block__card--header"><img src="../../img/tovar/sale_ipad.jpg" alt="" class="es-block__card--img"/><span class="es-block__card--text">Apple iPod nano 7G 16 ГБ Blue</span></div>
            <table class="es-block__card--infa-product">
              <tr class="es-block__card--string-tover">
                <td class="es-block__card--lable-tover es-block__card--string-tover">Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
        <li class="es-block__card__item"><a href="" title="" class="es-block__card__item__a">
            <div class="es-block__card--header"><img src="../../img/tovar/sale_air.jpg" alt="" class="es-block__card--img"/><span class="es-block__card--text">Роутер Wi-Fi Apple AirPort</span></div>
            <table class="es-block__card--infa-product">
              <tr class="es-block__card--string-tover">
                <td class="es-block__card--lable-tover es-block__card--string-tover">Артикул</td>
                <td>42787895</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Опция</td>
                <td>включена</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Цвет</td>
                <td>серебрянный</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Размер</td>
                <td>1280х1245х90</td>
              </tr>
              <tr>
                <td class="es-block__card--string-tover">Вес</td>
                <td>9 кг</td>
              </tr>
            </table></a></li>
      </ul>
    </div>
  </div>
</div>