.es-content-right
    //slider

    //Block
    .es-block--all
        .es-block--header
            | Популярные товары

        .es-block--body
            ul
                li.es-block__card
                    a(href='', title='')
                        .es-block__card--header
                            img(src='', alt='')
                            a(href='', title)
                        table.es-block__card--infa-product
                            tr
                                td Артикул
                                td 42787895
                            tr
                                td Опция
                                td включена
                            tr
                                td Цвет
                                td серебрянный
                            tr
                                td Размер
                                td 1280х1245х90
                            tr
                                td Вес
                                td 9 кг

