
<footer class="es-footer es-footer__all footer">
  <div class="es-conteiner__footer">
    <div class="es-footer__block es-footer__logo"><a href="">Магазин ЭпплShop<img src="../../img/es-logo--footer.png" alt="Магазин ЭпплShop"/></a></div>
    <nav>
      <div class="es-footer__nav es-footer__block">
        <ul class="es-meny__footer">
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
        </ul>
      </div>
      <div class="es-footer__nav es-footer__block">
        <ul class="es-meny__footer">
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
        </ul>
      </div>
      <div class="es-footer__nav es-footer__block">
        <ul class="es-meny__footer">
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
          <li><a href="#">#(item)</a></li>
        </ul>
      </div>
    </nav>
    <div class="es-footer__block es-footer__icon"></div>
  </div>
</footer>