- var menuFooterColumn1 = ["О нас", "Наши цены", "Наши скидки", "Акции"]
- var menuFooterColumn2 = ["Смартфоны", "Планшеты", "Компьютеры", "Аксессуары"]
- var menuFooterColumn3 = ["Телефоны", "Адреса", "Карта проезда", "Обратная связь"]


mixin menuFooter(items)
    ul.es-meny__footer
        each item in items
            li.es-meny__footer--item: a(href="#") #(item)

footer.es-footer.es-footer__all.footer
    .es-conteiner__footer

        .es-footer__block.es-footer__logo
            a(href='')
                | Магазин ЭпплShop
                img(src="../../img/es-logo--footer.png", alt='Магазин ЭпплShop')



        .es-footer__nav.es-footer__block
            .footer__options-title О магазине
            ul
                each title in ["О нас", "Наши цены", "Наши скидки", "Акции"]
                    li.footer__menu-item
                        a(href="#").footer__menu-link= title

        .es-footer__nav.es-footer__block
            .footer__options-title Каталог
            ul
                each title in ["О нас", "Наши цены", "Наши скидки", "Акции"]
                    li.footer__menu-item
                        a(href="#").footer__menu-link= title

        .es-footer__nav.es-footer__block
            .footer__options-title Контакты
            ul
                each title in ["Телефоны", "Адреса", "Карта проезда", "Обратная связь"]
                    li.footer__menu-item
                        a(href="#").footer__menu-link= title


        .es-footer__block.es-footer__icon

            a(href="", alt="").es-footer__icon--el.soc-icon--appStore
                | Доступ к AppStore

            a(href="", alt="").es-footer__icon--el.soc-icon--GooglePlay
                | Доступ к Google play

            a(href="", alt="").es-footer__icon--el.soc-icon--vk
                | VK

            a(href="", alt="").es-footer__icon--el.soc-icon--fb
                | Facebook

            a(href="", alt="").es-footer__icon--el.soc-icon--tv
                | Tvitter