.slider
   .slider__list--wrap
      ul.slider__list
         li.slider__item.slider--activ
            .slider__item--block
               img(src="../../img/slider/sl-phone.jpg", alt="").slider__pic
               .slider__infa

         li.slider__item
            .slider__item--block
               img(src="../../img/slider/sl-3d_phone.jpg", alt="").slider__pic
               .slider__infa

         li.slider__item
            .slider__item--block
               img(src="../../img/slider/sl-monitor.jpg", alt="").slider__pic
               .slider__infa

   .slider__controls
      .slider__controls--button.slider__controls--button_next
      .slider__controls--button.slider__controls--button_last