@font-face {
    font-family: 'elektra_text_pro';
    src: url('../fonts/fehl465v-webfont.eot');
    src: url('../fonts/fehl465v-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fehl465v-webfont.woff2') format('woff2'),
         url('../fonts/fehl465v-webfont.woff') format('woff'),
         url('../fonts/fehl465v-webfont.ttf') format('truetype'),
         url('../fonts/fehl465v-webfont.svg#elektra_text_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'elektra_text_pro_bold';
    src: url('../fonts/kskguonu-webfont.eot');
    src: url('../fonts/kskguonu-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kskguonu-webfont.woff2') format('woff2'),
         url('../fonts/kskguonu-webfont.woff') format('woff'),
         url('../fonts/kskguonu-webfont.ttf') format('truetype'),
         url('../fonts/kskguonu-webfont.svg#elektra_text_probold') format('svg');
    font-weight: bold;
    font-style: normal;

}